%form.jumbotron.form-horizontal(novalidate name="form")
  %fieldset
    %h1 Welkom bij de quiz
    %p
      Druk op start om te beginnen.
    %p
      %button.btn.btn-lg.btn-primary(type="submit" data-test="login" ng-click="ctrl.start()" ng-disabled="ctrl.processing") Start


