-# encoding: UTF-8
%h1.page-header
  Welcome to the Quiz!

%button.btn.btn-info(ng-click="showCorrectAnswers()" ng-show="quiz.disabled")
  Show Answers

%p

.status(ng-show="status") {{status}}

%quiz(ng-show="quiz.ready")
  %div(ng-repeat="(question,questionObject) in quiz.questions")
    %question(name="question")
      %div.panel.panel-default
        %div.panel-heading
          %h3.panel-title.description
            {{$index+1 + ". " + questionObject.question}}

        %div.panel-body
          %ol(type="a")
            %list_element_choice(ng-repeat="(answerName,optionLabel) in questionObject.options" answername="{{answerName}}" optionlabel="{{optionLabel}}")

%button.btn.btn-large.btn-primary(type="submit"
  ng-click="submitResponse()"
  ng-show="quiz.ready && !quiz.disabled"
  ng-disabled="processing") Submit
