-# encoding: UTF-8
%div.well
  %h1 Statistieken: {{quiz.title}}

  .status(ng-show="status") {{status}}

  %quiz(ng-show="quiz.ready")
    %ul
      %li 
        Aantal mensen die de test gedaan hebben:  {{quiz.numberOfResponders}}
      %li 
        Aantal goede gegeven antwoorden: {{quiz.totalCorrectNumber || 0}}
      %li
        Aantal fout gegeven antwoorden: {{quiz.totalWrongNumber || 0}}
%ol.list-group
  %li.list-group-item(ng-repeat="(question,questionObject) in quiz.questions")
    {{question}} - {{questionObject.question}}
    %br
    %span.label.label-success
      Goed: {{questionObject.correctNumber || 0}} 
    %br
    %span.label.label-danger
      Fout: {{questionObject.wrongNumber || 0}}
      
  
